$t-dark-950: #000607ff;
$t-dark-800: #00161bff;
$t-dark-650: #002730ff;
$t-dark-500: #003844ff;
$t-dark-350: #4d747cff;
$t-dark-200: #99afb4ff;
$t-dark-050: #e6ebecff;

$t-950: #000b0aff;
$t-800: #002b29ff;
$t-650: #004c48ff;
$t-500: #006c67ff;
$t-350: #4d9895ff;
$t-200: #99c4c2ff;
$t-050: #e6f0f0ff;

$t-light-950: #111919ff;
$t-light-800: #436466ff;
$t-light-650: #86c7ccff;
$t-light-500: #a8f9ffff;
$t-light-350: #c2fbffff;
$t-light-200: #dcfdffff;
$t-light-050: #f6feffff;

$marigold-100: #fcecccff;
$marigold-200: #f9da9aff;
$marigold-300: #f6c767ff;
$marigold-400: #f3b535ff;
$marigold-500: #f0a202ff;
$marigold-600: #c08202ff;
$marigold-700: #906101ff;
$marigold-800: #604101ff;
$marigold-900: #302000ff;

$brown-100: #ddd8d3ff;
$brown-200: #bcb1a7ff;
$brown-300: #9a8a7bff;
$brown-400: #79634fff;
$brown-500: #573c23ff;
$brown-600: #46301cff;
$brown-700: #342415ff;
$brown-800: #23180eff;
$brown-900: #110c07ff;

$white: #ffffffff;
$black: #000000ff;
