@font-face {
  font-family: 'Chakra Petch';
  src: url('../assets/fonts/Chakra_Petch/ChakraPetch-Light.ttf')
    format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('../assets/fonts/Chakra_Petch/ChakraPetch-LightItalic.ttf')
    format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('../assets/fonts/Chakra_Petch/ChakraPetch-Regular.ttf')
    format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('../assets/fonts/Chakra_Petch/ChakraPetch-Italic.ttf')
    format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('../assets/fonts/Chakra_Petch/ChakraPetch-Medium.ttf')
    format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('../assets/fonts/Chakra_Petch/ChakraPetch-MediumItalic.ttf')
    format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('../assets/fonts/Chakra_Petch/ChakraPetch-SemiBold.ttf')
    format('truetype');
  font-wheight: 600;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('../assets/fonts/Chakra_Petch/ChakraPetch-SemiBold.ttf')
    format('truetype');
  font-wheight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('../assets/fonts/Chakra_Petch/ChakraPetch-Bold.ttf')
    format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('../assets/fonts/Chakra_Petch/ChakraPetch-BoldItalic.ttf')
    format('truetype');
  font-weight: 700;
  font-style: italic;
}

// Cormorant SC

@font-face {
  font-family: 'Cormorant SC';
  src: url('../assets/fonts/Cormorant_SC/CormorantSC-Light.ttf')
    format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('../assets/fonts/Cormorant_SC/CormorantSC-Regular.ttf')
    format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('../assets/fonts/Cormorant_SC/CormorantSC-Medium.ttf')
    format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('../assets/fonts/Cormorant_SC/CormorantSC-SemiBold.ttf')
    format('truetype');
  font-wheight: 600;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('../assets/fonts/Cormorant_SC/CormorantSC-Bold.ttf')
    format('truetype');
  font-weight: 700;
}

// Kanit

@font-face {
  font-family: 'Kanit';
  src: url('../assets/fonts/Kanit/Kanit-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Kanit';
  src: url('../assets/fonts/Kanit/Kanit-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../assets/fonts/Kanit/Kanit-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Kanit';
  src: url('../assets/fonts/Kanit/Kanit-ExtraLightItalic.ttf')
    format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../assets/fonts/Kanit/Kanit-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Kanit';
  src: url('../assets/fonts/Kanit/Kanit-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../assets/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Kanit';
  src: url('../assets/fonts/Kanit/Kanit-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../assets/fonts/Kanit/Kanit-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Kanit';
  src: url('../assets/fonts/Kanit/Kanit-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../assets/fonts/Kanit/Kanit-SemiBold.ttf') format('truetype');
  font-wheight: 600;
}

@font-face {
  font-family: 'Kanit';
  src: url('../assets/fonts/Kanit/Kanit-SemiBold.ttf') format('truetype');
  font-wheight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../assets/fonts/Kanit/Kanit-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Kanit';
  src: url('../assets/fonts/Kanit/Kanit-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../assets/fonts/Kanit/Kanit-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Kanit';
  src: url('../assets/fonts/Kanit/Kanit-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../assets/fonts/Kanit/Kanit-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Kanit';
  src: url('../assets/fonts/Kanit/Kanit-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
