@use "./colors" as *;
@import './fonts';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body,
#fullheight {
  min-height: 100% !important;
  height: 100%;
  font-weight: 300;
  font-family: 'Kanit', sans-serif;
  color: white;
  background-color: $t-dark-950;
}
a {
  color: inherit;
  text-decoration: none;
}

// font imports
// Chakra Petch
